
.center.hero-unit
  %h2 Welcome
  %p Convo is the quickest way to do a video chat.

  %h3 Get Started Now
  =form_for Room.new do |f|
    =f.submit class: 'btn btn-large btn-primary'

  %h4 How it works
  %p Create your own chat room by clicking the button above. Share the url with a friend. When you both visit the page you'll be connected. 
  