<h1>Login to <%= app_name %> </h1>

<div>
  <div class='LP-visibleLoggingIn'>
    Figuring out who you are...
  </div>
  <div class='LP-visibleLoggedIn'>
    Welcome back! <b><span class='LP-userName'></span></b>
    <button class='LP-logoutButton'>Log out</button>
  </div>
  <div class='LP-visibleLoggedOut'>
    Tell me who you are!
    <div class='LP-loginForm'></div>
  </div>
</div>

<script src="http://loginprompt.herokuapp.com/jquery-1.7.2.js"></script>
<script src="http://loginprompt.herokuapp.com/jquery.cookie.js">></script>
<script src="http://loginprompt.herokuapp.com/lp-client.js"></script>
<script type="text/javascript">
</script>
