%h3= "Please Register"
#registerForm

:javascript
  var form = new LP.UIFunctions.FormDefinitions.UserRegistration(window.loginPrompt.UI);
  window.loginPrompt.UI.insertForm($('#registerForm'), form);

