%header.navbar
  .navbar-inner
    .container
      .brand
        = link_to "Convo", '/', id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home",    '/'
          %li= link_to "Help",    '#'